.main{
display: flex;
justify-content:center;
align-items: center;
flex-wrap: wrap;
}
.main img{
    min-height: 250px;
    max-width: 100vw;
    transition: 0.5s;
}
.main .image1:hover{
    rotate: 180deg;
}
.main .image2:hover{
    filter: invert(1);
}
.main .image3:hover{
    filter: opacity(0);
}

