.form{
    display: flex;
    flex-direction: column;
    width: 30em;
    margin: auto;
}
.form input, label{
    width: 78%;
    align-self: center;
}
.form input{
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    color: #696969;
    margin-bottom: 1em;
    background-color: transparent;
}
.form label{
    margin-bottom: .5em;
}
.form label img{
    max-width: 100%;
}
.file_custom_empty, .file_custom_filled{
    border: 1px solid #696969;
    border-radius: 10px;
    padding: .2em .3em;
    cursor: pointer;
}
 .file_custom_empty input[type="file"]{
    display: none;
}
.file_custom_empty{
   width: auto;
   padding: .4em 1em;
}
.file_custom_filled{
    text-align: center;
    width: auto;
}
 .file_custom_filled input[type="file"]{
    display: none;
}

.form button{
    width: 5em;
    padding: 1em .3em;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    border: none;
    outline: none;
    background-color: var(--cyan-color);
    cursor: pointer;
}